.about{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15%;
    width: 600px;
    margin: auto;
    h1{
        line-height: 1.5;
        font-weight: 100;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

}