.support{margin-top: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        margin-bottom: 2rem;
    }
    .paybtn{
        width: 20%;
        margin: auto;
        
        
     }
}
