.container{
    max-width: 1120px;
    margin: 2rem auto;
    background-color: #17181f;
    border-radius: 6px;
    padding: 2rem;
    label{
        color: gray;
    }
    

    form{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input{
        width: 90%;
        height: 50px;
        background-color: #20212c;
        border: 1px solid #424242;
        border-radius: 6px;
        padding:3px 10px;
        color:#fff
    }
    button{
        margin-left: 10px;
        width:8%;
        height: 50px;
        border: 0;
        border-radius: 6px;
        background-color: #6495ED;
    }
    h1{
        color:#fff;
        margin-top: 1.8rem;
    }
    .cancelUpdate{color: #fff;
        text-align: center;
        justify-content: center;
        display: flex ;
        margin-bottom: 1rem;
        background-color: #ffb70027;
        width: 50%;
        padding: .5rem;
        border-radius: 5px;
        gap: .5rem;
        cursor: pointer;
        
        
        }
}

.tasklist{
    background-color: #20212c;
    margin:1rem 0;
    padding: 0.7rem;
    border-radius: 6px;

    li{ list-style: none    ;
        
    }

    p{
        cursor: pointer;
        color: #f2f6fc;
        font-size: 1rem;
        line-height: 150%;
    }
    .actions{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top:1rem;
        border-bottom: .3px dotted #f2f6fc;

        .rightBtns{display: flex;
                gap: 2rem;
          
            }
        div{
            display: flex;
            align-items: center;
            justify-content: center;

            time{
                color:#FFB800;
                margin-left: 5px;
                
            }
        }
        button{
            background-color: transparent;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            &+button{
                margin-left: 5px;
                color: #fff;
                cursor: pointer;
            }
            span{
                
                margin-left: 5px;
                color: #fff;
                cursor:pointer;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 3px;
            }
            span:hover{
                filter: brightness(0.7);
            }
        }
    }







}